/* li{
	padding: 0;
	margin: 0;
	border: 0;
}
*/)
#container{
	width: 90%;
	margin: 0 auto;
	background-color: #50BEBE;
}
.contenedor{
	    margin-top: 65px;
}

/* .navbar-default {
    background: #1E5A7C;
    border-color: transparent;
    width: 100%;
}
.navbar, .navbar.navbar-default {
    color: #ffffff;
    font-size: 1.1em;
   
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

Lista Opcion Normal
.navbar-default .navbar-nav > li > a:hover {
	background: #48A0E0;
}

Opcion ACTIVO
.navbar-default .navbar-nav > li.active > a {
	background: #48A0E0;
	color: #ffffff;
}

Opcion ACTIVO :HOVER
.navbar-default .navbar-nav > li.active > a:hover {
	background: #48A0E0;
	color: #ffffff;
}

Opcion ACTIVO SIN VINCULO
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #ffffff;
	background: #48A0E0;
} 

IMG LOGOTIPO en la cinta del menu
.navbar-default .navbar-brand img {
	height: 50px;
	margin: -15px 0 0;
} */

/*Form of usuer edit*/



.login{
	margin:0px auto;
}
.welcome-user{
	text-align: center;
}

.navbar-inverse {
	background-color: #4E74A6;
    border-color: #e7e7e7;
}
 /*Letras de banner*/

.navbar .brand, .navbar .nav > li > a {
    color: #fff;
}
.navbar .brand, .navbar .nav > li > a:hover {
    color: #FFFEFC;
}

/*Color del logo*/
.navbar-inverse .navbar-brand {
    color: #fff;
}


.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color:#fff;
    background-color:#4E8AB1;
}
/*Menu*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #4E8AB1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #4E8AB1;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}
 /*Boton de la parte superior derecho*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color:  #4E8AB1;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
/*Color de linea que divide header y container de menu responsivo*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}

.centered{
	text-align: center;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}